@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

.page {
  display: flex;
  flex-direction: row;
}

.movie-card {
  display: flex;
  flex-direction: column;
  border-style: groove;
  border-width: 1px;
  border-color: red;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 2px 16px;
  margin-left: 37em;
  margin-bottom: 1em;
  transition: 0.3s;
  width: 250px;
  background-color: #F4f2d6;
  float: right;
  border-spacing: 1em;
}

.movie-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


input[type=text] {
  border: 1px solid slateblue;
  border-radius: 4px;
}

.search-movie {
  text-align: center;
  font-family: 'Monoton', cursive;
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-button {
  width:50%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}

.search-button:hover {
  background-color: #45a049;
}

.search-form {
  border-radius: 5px;
/* background-color: #F4f2d6; */
  padding: 10px;
  width: 50%;
  padding-left: 27em;
}

.results {
  padding-left: 1em;
  width: 20%;
}

